.header {
  height: 100vh;
  background-image:
          linear-gradient(to right, rgba(#000, 1) 0%, rgba(transparent, 0.8) 30%),
          url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  @include respond(phone) {
    flex-direction: column;
    text-align: center;
  }

  &__logo {
    fill: #fff;
    width: 8rem;
    margin-right: 3rem;
    align-self: center;
  }

  &__text-box {
    text-align: left;
    @include respond(phone) {
      text-align: center;
    }
  }

}

