.btn {
  position: relative;
  display: inline-block;
  border: 0;

  &--round {
    border-radius: 25px;
  }
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 5rem;
    font-size: $default-font-size;
    transition: transform 0.3s;
    box-shadow: 0 5px 10px rgba($color-shadow, 0.2);
    cursor: pointer;
  }

  &:hover,
  &:focus {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba($color-shadow, 0.2) ;
  }

  &:focus {
    outline: 3px solid $color-primary;
    outline-offset: 2px;
  }

  &:active {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($color-shadow, 0.2) ;
  }


  &--animated {
    animation: MoveInBottom 1.5s ease-out 0.7s;
    animation-fill-mode: backwards;
  }

  &--white {
    background-color: #FFF;
    color: #777777;
    &:after {
      background-color: #FFF;
    }
  }

  &--primary {
    background: linear-gradient(to right,#E4BC84, #AD6D2F);
    color: $color-white;
    &:after {
      background-color: inherit;
    }
  }
}
