.btn {
  position: relative;
  display: inline-block;

  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 100px;
    font-size: $default-font-size;
    transition: transform 0.3s;
    box-shadow: 0 5px 10px rgba($color-shadow, 0.2) ;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba($color-shadow, 0.2) ;
    &:after {
      transform: scale(1.5, 1.7);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($color-shadow, 0.2) ;
  }

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s;
  }

  &--animated {
    animation: MoveInBottom 1.5s ease-out 0.7s;
    animation-fill-mode: backwards;
  }

  &--white {
    background-color: #FFF;
    color: #777777;
    &:after {
      background-color: #FFF;
    }
  }
}
