.card {
  perspective: 150rem;
  height: 42rem;
  position: relative;

  &--primary {
    transform: scale(1.05);
  }
  &__side {
    width: 100%;
    height: 100%;
    transition: transform .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 .5rem 4rem rgba($color-shadow, 0.15) ;
    overflow: hidden;

    &--front { }
    &--back {
      transform: rotateY(180deg);
    }
  }

  // card animation
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
  // ---------------

  // front side style
  &__picture {
    height: 17rem;
    background-size: cover;
    background-position: top left;
    background-blend-mode: screen;

    &--first-card {
      background-color: #E4BC84;
    }
    &--second-card {
      background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    }
    &--third-card {
      background-color: #E4BC84;
    }
  }

  &__heading {
    color: $color-white;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-align: left;
  }

  &__title {
    color: $color-white;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 1.2rem;
    margin-top: .7rem;
  }

  &__price {
    position: absolute;
    top: 3.5rem;
    left: 3rem;
    &--value {
      font-size: 7rem;
      font-weight: 300;
    }

    &--period {
      font-size: 2.5rem;
      font-weight: 300;
    }
  }


  &__details {
    padding: 3rem;
    ul {
      list-style-type: none;
      width: 80%;
      margin: 0 auto;
      li {
        padding: 1rem 0;
        color: $color-grey-dark;
        font-size: 1.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid rgba($color-grey-dark, 0.3);
        }
      }
    }
  }
  // -------------

  // back side style

  &__side--back {
      transform: rotateY(180deg);
    //background-color: #d2d2d2;

      &-first-card {
        background-color: #E4BC84;
      }
      &-second-card {
        background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary);
      }
      &-third-card {
        background-color: #E4BC84;
      }
  }

  &__cta {
    @include centerBox;
    width: 90%;
  }

  &__price-box {
    margin-bottom: 4rem;
    color: $color-white;
  }

  &__price-description {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-weight: 100;
    font-size: 6rem;
  }

  &__cta-btn {

  }

  @media only screen and (max-width: 37.5em),
  only screen and (hover: none){
    height: auto;
    overflow: hidden;
    border-radius: 3px;

    &__side {
      height: 100%;
      position: relative;
      border-radius: 0;
      &--front {
        padding-bottom: 10rem;
      }
      &--back {
        margin-top: -13rem;
        clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
        transform: rotateY(0);
        height: 13rem;
      }
    }

    &:hover &__side--front {
      transform: rotateY(0deg);
    }

    &__side--back {
      transform: rotateY(0);
    }

    &__price-box {
      margin-top: 1.5rem;
      margin-bottom: .5rem;
    }

    &__price-description {
      display: none;
    }

    &__price-value {
      font-size: 5rem;
    }
  }
}
  // ------------

