.feature-box {
  background-color: rgba($color-white, 0.8);
  color: $color-grey-dark;
  text-align: center;
  padding: 2.5rem 0;
  border-radius: 3px;
  font-size: 1.4rem;
  transition: all 0.3s ease-out;
  box-shadow: 0 1.5rem 4rem rgba($color-shadow, 0.15);
  &__icon {
    font-size: 6.5rem;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    height: 8.1rem;
    margin-bottom: 2.5rem;
    width: 10rem;
    text-align: center;
  }
  &__text {
    padding: .5rem 3rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);

  }
}
