.story {
  background-color: $color-white;
  margin: 0 auto;
  width: 75%;
  height: fit-content;
  padding: 6rem;
  padding-left: 9rem;
  box-shadow: 0 3rem 6rem rgba($color-shadow, 0.1);
  font-size: $default-font-size;
  transform: skewX(10deg);

  & > * {
    transform: skewX(-10deg);
  }

  &__figure {
    float: left;
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background-color: #777777;
    transform: translateX(-3rem) skewX(-10deg);

  }

  &__text {
  }
}

