.story {
  background-color: $color-white;
  margin: 0 auto;
  width: 75%;
  position: relative;
  height: fit-content;
  padding: 6rem 6rem 6rem 9rem;
  box-shadow: 0 3rem 6rem rgba($color-shadow, 0.1);
  font-size: $default-font-size;
  transform: skewX(10deg);


  &__figure {
    float: left;
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(-10deg);
    z-index: 2;
    position: relative;
  }

  &__img {
      height: 100%;
      transform: translateX(-3rem) scale(1.2);
      transition: all 0.3s;
  }

  &__figure:hover &__caption {
      transform: translate(-50%, -50%);
      opacity: 1;
  }

  &__figure:hover &__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  &__text {
    transform: skewX(-10deg);
  }

  &__caption {
    transition: transform 0.6s;
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    transform: translate(-50%, 30%);
    text-align: center;
    font-size: 1.8rem;
    opacity: 0;
  }
}

