.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0 30rem;
  margin-top: -25vh;
  text-align: center;

  &__text {
    text-align: left;
  }
}

.section-features {
  padding: 30rem 0;
  background-image:
          linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8)),
          url("../img/nat-4.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: -25rem;

  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);

  //transform: skewY(-7deg);
  //& > * {
  //  transform: skewY(7deg);
  //}
}

.section-tours {
  margin-top: -27rem;
  text-align: center;
  background-color: #f7f7f7;
  padding: 30rem 0;
}
